

	<form>


		<input placeholder= "Product Name" name="email"  type="string" matInput required>



		<input placeholder="product Name" name="Product Name" [(ngModel)]="productName" type="string" matInput required >



		<input placeholder="Product Price" name="ProductP" [(ngModel)]="productP" type="string" matInput required >



		<input placeholder="Product Description" name="productD" [(ngModel)]="productD" type="string" matInput required >

		<input placeholder="Product Image" name="productPic" [(ngModel)]="productPic" type="text" matInput required >

		<button type="submit" class="btn btn-success" routerLink="/viewproduct">Add Product</button>

	


	</form>
