body{
background-color: white;
}

.add
{
  margin-top: 0.cm;
  color: black;
  font-weight: bolder;
  font-style:italic;
margin-bottom: 1cm;
}
.homebackground
{
  background-color: white;
}

.all
{
  background-color: white;
}
h3
{
  color: blue;
}