<div class="container">
	<button mat-raised-button type="submit" class="add" routerLink="/Addproduct">Add Products</button>
</div>




  <img width="20%" height="200" style="text-align: center; background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQdx_iwCd2wNCNqa9IA0U8j_VYsNO42HdDF0g&usqp=CAU');background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);
   ;">

   <img width="20%" height="200" style="text-align: center; background-image:url('https://images.app.goo.gl/cFLnykKViWHuSWmP7');background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);
   ;">


   <img width="20%" height="200" style="text-align: center; background-image:url('https://images.app.goo.gl/1Eh39d6wTaGeJPMQA');background-repeat: no-repeat;background-size: cover;background-color: rgba(255,255,255,0.6);
   ;">
